<!DOCTYPE html>
<title>Price Notifier</title>
<html ng-app="MyApp">
<head>
    @Styles.Render("~/content/app")
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body ng-controller="MainCtrl">
    <toaster-container toaster-options="{'time-out': '6000', 'close-button':true, 'animation-class': 'toast-top-right'}"></toaster-container>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand navbar-left" ui-sref="main">Price Notifier</a></li>
                <li><a ui-sref="myitems">Tracking products</a></li>
                @if (User.IsInRole("Admin"))
                {
                    <li><a ui-sref="users">User management</a></li>
                    <li><a ui-sref="articles">Article management</a></li>
                }
            </ul>
            <div class="col-lg-offset-6">
                <button type="button" class="btn btn-default navbar-btn navbar-right" ng-click="Logout()">Log out</button>
            </div>
        </div>
    </nav>
    <div ui-view></div>
    <script>
        (function () {
            localStorage.setItem('token', "@ViewBag.token");
        })();
    </script>
    @Scripts.Render("~/bundles/app")
    <script src="~/signalr/hubs"></script>
</body>
</html>