<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{article.Title}}</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="form-group">
        <form name="articleEditForm">
            <h4>Title</h4>
            <input type="text" maxlength="20" class="form-control" ng-model="article.Title" required /><br />
            <h4>Summary</h4>
            <textarea class="form-control" maxlength="100" data-ui-tinymce data-ng-model="article.Summary" rows="2" ng-required></textarea><br />
            <h4>Body</h4>
            <div text-angular ng-model="article.Body" required></div>
            <label>Featured Image URL</label>
            <input type="text" class="form-control" ng-model="article.ImageUrl" placeholder="http://cdn2.gsmarena.com/vv/pics/apple/apple-iphone-7-5.jpg" /><br />
            <label>Ready to publish:</label>
            <input type="checkbox" ng-model="article.IsPublished" />
            <br />
            <label>Select date:</label>
            <div class="row">
                <div class="col-md-4">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="article.DateAdded" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <input type="submit" value="Update" class="btn btn-default" ng-disabled="!articleEditForm.$valid" ng-click="update(article)" />
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
</div>