<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Editing article</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="form-group">
        <form name="articleEditForm">
            <select class="form-control" data-ng-model="article.ProductId" data-ng-options="item.Name for item in items">
                <option value="">{{userArticle.ProductName}}</option>
            </select><br/>
            <ul class="error-list" ng-show="validationMessages">
                <li ng-repeat="message in validationMessages">{{message}}</li>
            </ul>
            <h4>Title</h4>
            <input type="text" maxlength="20" class="form-control" ng-model="userArticle.Title" required=""/><br/>
            <h4>Summary</h4>
            <textarea class="form-control" maxlength="100" data-ui-tinymce data-ng-model="userArticle.Summary" rows="2" required=""></textarea><br/>
            <h4>Body</h4>
            <div text-angular ng-model="userArticle.Body" required></div>
            <label>Featured Image URL</label>
            <input type="text" class="form-control" ng-model="userArticle.ImageUrl" placeholder="http://cdn2.gsmarena.com/vv/pics/apple/apple-iphone-7-5.jpg"/><br/>
            <label>Ready to publish:</label>
            <input type="checkbox" ng-model="userArticle.IsPublished"/>
            <br/>
            <label>Select date:</label>
            <div class="row">
                <div class="col-md-4">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="userArticle.DateAdded"  is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <input type="submit" value="Save" class="btn btn-default" ng-disabled="!articleEditForm.$valid" ng-click="update(userArticle)" />
    <button class="btn btn-danger" type="button" ng-click="ok()">Cancel</button>
</div>