<div class="container">
    <div class="col-lg-offset-0">
        <div>
            <h3>{{currentArticle.Title}}</h3>
        </div>
        <br />
        <div ng-show="currentArticle.ImageUrl">
            <img src="{{currentArticle.ImageUrl}}" />
        </div>
        <br />
        <div ta-bind ng-model="trustedHtml"></div>
        <br />
        <label>Added on: </label> {{currentArticle.DateAdded|date: 'dd/MM/yyyy' }} <br/>
        <button type="button" class="btn btn-primary" ng-show="User" ng-click="edit(currentArticle)">Edit</button>
    </div>
</div>
