<div ng-controller="ProductCtrl">
    <cen style="text-align:center" ng-show ="demonstrate"><h2>{{Message}}</h2></cen>
    <div class="container" ng-repeat="product in dbproducts" ng-show="dbproducts">
        <div class="container">
            <div class="col-lg-4">
                <h4 class="ng-cloak">{{product.Name}}</h4>
                <img class="ng-cloak" ng-src="{{product.ImageUrl}}" title="{{product.Name}}"/>
            </div>
            <div class="col-lg-offset-6">
                <br/>
                <h5 class="ng-cloak">Ссылка в каталоге Onliner.by:</h5><a class="ng-cloak" href="{{product.Url}}">{{product.Name}}</a>
                <h5 class="ng-cloak">Minimal price: {{product.Price}} руб.</h5>
                <button type="button" class="btn btn-danger ng-cloak" ng-click="remove(product)">Remove item</button>
                <label class="ng-cloak">
                    Keep tracking:
                    <input type="checkbox" ng-model="product.Checked" ng-change="update(product)">
                </label><br/>
            </div>
        </div>
        <hr class="ng-cloak"/>
    </div>
</div>
