<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Price changes history:</h3>
</div>
<div class="modal-body" id="modal-body">
    <div ng-show="show">
        <h2>{{Note}}</h2>
    </div>
    <div ng-show="showChart">
        <ul ng-repeat="record in priceChanges">
            <li><h5 class="ng-cloak">The price changed from {{record.OldPrice}} BYN to {{record.NewPrice}} BYN on {{format(record.Date)|date:'MM/dd/yyyy @ h:mma'}}</h5></li>
        </ul>
    </div>
    <canvas id="base" class="chart-bar" ng-show="showChart"
            chart-data="data" chart-labels="labels" chart-series="series" chart-colors="colors" chart-options="options"
            chart-dataset-override="datasetOverride"></canvas> 
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
</div>
