<div ng-controller="UserCtrl">
    <cen style="text-align:center" ng-show="demonstrate"><h2>{{Message}}</h2></cen>
        <div class="container">
            <div class="col-lg-12">
                <div ui-grid="gridOptions" ui-grid-pagination class="myGrid"></div>
                <p>Current page: {{ gridApi.pagination.getPage() }} of {{ gridApi.pagination.getTotalPages() }}</p>
                <button type="button" class="btn btn-default" ng-click="gridApi.pagination.previousPage()">
                    previous page
                </button>
                <button type="button" class="btn btn-default" ng-click="gridApi.pagination.nextPage()">
                    next page
                </button>
                <button type="button" class="btn btn-default" ng-click="gridApi.pagination.seek(3)">
                    go to page 3
                </button>
            </div>
        </div>
</div>
